

<h1>Totaliser</h1>

<div id="wrapper">	
	<div id="thermometer">
		<div id="temperature" style="height:0" data-value="50"></div>
		<div id="graduations"></div>
	</div>
	
	<div id="playground">		
		<div id="range">
			<!-- <input id="minTemp" type="text" value="0"> -->
			<!-- <input type="range" min="0" max="750" value="50"> -->
			<!-- <input id="maxTemp" type="text" value="750"> -->
		</div>
		<p id="unit">Amount Raised</p>
	</div>
	
	<!-- <p id="info">Click on the values to change them!</p> -->
</div>