@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* @import "//totaliser.scss"; */

body {
  color: #222;
  font-family: sans-serif;
  line-height: 1.5;
  margin: 1rem;
  max-width: 768px;
}

header {
  border-bottom: 1px solid #222;
  margin-bottom: 1rem;
}

footer {
  border-top: 1px solid #222;
  margin-top: 0px;
  background-color: #7413dc;
  color: white;
}

a {
  color: #00e;
  text-decoration: none;
}

footer a:visited, footer a:link {
  color: white;
}

.socials {
  background-color: #00a794;
  min-height: 40px;
  padding: 10px;
}